extends ../layout/layout

block content
    form(action="/user/loginPost", method="post")
        div.mb-3
            label.form-label(for="email") Email
            input.form-control(name="email", id="email", type="text")
        div.mb-3
            label.form-label(for="password") Password
            input.form-control(name="password", id="password", type="password")
        div.mb-3
            input.btn.btn-primary(type='submit', value='Login')
    a(href="/user/register") Register